# IBM-Project-43293-1660715280
# UNIVERSITY ADMIT ELIGIBILITY PREDICTOR

![image.png]()

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
planet = "Earth"
diameter = 12742
print( 'The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2];
print(a)

['hello']

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
import numpy as np
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arange(20,36,2)
print("Array of all the even integers from 20 to 30")
print(array)

Array of all the even integers from 20 to 30
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
x =  np.arange(0, 9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np

a = np.array([1, 2, 3])

b = np.array([4, 5, 6])

arr = np.concatenate((a, b))

print(arr)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:

import pandas as pd
  

data = {'Name': ['Tom', 'Jack', 'nick'],'Id': [1, 2, 3],
        'marks': [99, 98, 95]}
  

df = pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3'])
  

df

       Name  Id  marks
rank1   Tom   1     99
rank2  Jack   2     98
rank3  nick   3     95

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
  
per1 = pd.date_range(start ='1-1-2023', 
         end ='1-02-2023', freq ='5H')
  
for val in per1:
    print(val)

2023-01-01 00:00:00
2023-01-01 05:00:00
2023-01-01 10:00:00
2023-01-01 15:00:00
2023-01-01 20:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
import pandas as pd  
      
lst = [[1, 'aaa', 22], [2, 'bbb', 25], 
       [3, 'ccc', 24]]
  
df = pd.DataFrame(lst, columns =['Sl.no', 'Name', 'Age']) 
print(df )

   Sl.no Name  Age
0      1  aaa   22
1      2  bbb   25
2      3  ccc   24